<div class="group js-map-lite relative mx-auto mt-8 aspect-video w-full max-w-2xl cursor-pointer">
  <img
    src="/assets/img/mapa/mapa.png"
    alt="Mapa de ubicación"
    width="1000"
    height="750"
    class="h-full w-full rounded-lg object-cover shadow"
    loading="lazy"/>
  <div
    class="absolute top-0 left-0 h-full w-full bg-transparent transition group-hover:bg-black/10"
    role="button"
    aria-label="Mostrar mapa"
    tabindex="0"></div>
</div>