<div class="relative mt-8 cursor-pointer group w-full max-w-2xl mx-auto aspect-video js-map-lite">
  <img 
    src="/assets/img/galerie/o-1Ar5VVdY-1000.jpeg" 
    alt="Mapa de ubicación"
    class="w-full h-full object-cover rounded-lg shadow"
    loading="lazy">
  <div 
    class="absolute top-0 left-0 w-full h-full bg-transparent group-hover:bg-black/10 transition"
    role="button"
    aria-label="Mostrar mapa"
    tabindex="0">
  </div>
</div>
